html, body, *{
    margin:0;
    padding:0;

}
#manage{
    position:relative;
    width:100%;
    height:100%;
    top:104px;
    

}
#manage-head{
    position:absolute;
    top:52px;
    left:50%;
    transform: translateX(-50%);
}
#manage-font{
    font-family:DM Sans;
    font-weight: 700;
    color:#28EA53;
    font-size: 24px;
}
#manage-servefont{
    font-family:DM Sans;
    font-weight: 400;
    font-size: 14px;
    color:#9795B5;
    line-height: 30px;
}
#manage-content,#manage-b-content{
    position: relative;
    top:120px;
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#manage-content1,#manage-content2,
#manage-b-content1,#manage-b-content2
{
    position: relative;
    border:1px solid #E5E5E5;
    border-radius: 15px;
    margin-right: 40px;
    width:300px;
    height:200px;
}
.manage-img{
    position:absolute;
    left:30px;
    top:30px;
    width:60px;
    height:60px;
}
.manage-p{
    position: relative;
    top:2vh;
    left:35%;
    color:#28EA53;
    font-size: 17px;
    line-height: 3vh;
    text-align: left;
}
#exercise-btn1,#exercise-btn2{
    font-size: 14px;
    position: relative;
    top:11.7vh;
    width:70px;
    height:45px;
    border-radius: 30px;
    background-color: white;

}
#exercise-btn1{
    right:20px;   
    border:none;
    color:#28EA53;
    border:1px solid #A6A5AB;

}
#exercise-btn2{
    color:#28EA53;
    border:1px solid #A6A5AB;
    left:5%;   
   
}
#meal-btn1,#meal-btn2,#meal-btn3{
    font-size: 14px;
    position: relative;
    top:90px;
    width:70px;
    height:45px;
    border-radius: 30px;
    background-color: white;
}
#manage-b-content1 >button:hover,#manage-b-content2 >button:hover,
#manage-content1 >button:hover,#manage-content2 >button:hover
{
    cursor: pointer;
    background-color: #28EA53;
    color:white;
}
#meal-btn1{
    right:25px;   
    border:none;
    color:#28EA53;
    border:1px solid #A6A5AB;
}
#meal-btn2{
    color:#28EA53;
    border:1px solid #A6A5AB;  
}
#meal-btn3{
    color:#28EA53;
    border:1px solid #A6A5AB;
    left:25px;   
}
#tm-btn1,#tm-btn2{
    font-size: 14px;
    position: relative;
    top:30px;
    width:60px;
    height:45px;
    border-radius: 30px;
    background-color: white;
}
#tm-btn3,#tm-btn4{
    font-size: 14px;
    position: relative;
    width:60px;
    height:45px;
    border-radius: 30px;
    background-color: white;
    top:80px;
}
#tm-btn1{  
    left:30px;
    color:#28EA53;
    border:1px solid #A6A5AB;
}
#tm-btn2{
    left:80px;
    color:#28EA53;
    border:1px solid #A6A5AB;  
}
#tm-btn3{
    right:88px;
    color:#28EA53;
    border:1px solid #A6A5AB;
}
#tm-btn4{
    right:38px;
    color:#28EA53;
    border:1px solid #A6A5AB;  
}
#stopDrug-btn1,#stopDrug-btn2{
    position: relative;
    top:63px;
    width:70px;
    height:45px;
    border-radius: 30px;
    background-color: white;
}
#stopDrug-btn1{
    right:20px;   
    color:#28EA53;
    border:1px solid #A6A5AB;
}
#stopDrug-btn1.checked,#stopDrug-btn2.checked,
#exercise-btn1.checked,#exercise-btn2.checked,
#meal-btn1.checked,#meal-btn2.checked,#meal-btn3.checked,
#tm-btn1.checked,#tm-btn2.checked,#tm-btn3.checked,#tm-btn4.checked
{
    background-color: #28EA53;
    color:white;
}
#stopDrug-btn2{
    color:#28EA53;
    border:1px solid #A6A5AB;
    left:20px;   
}
#manage-btn{
    position:relative;
    top:120px;
    left:260px;
    border-radius: 30px;
    width:80px;
    height:40px;
}
#manage-btn.enabled{
    background-color: #28EA53;
    color:white;
    border:none;
}
#manage-btn.disabled{
    background-color: white;
    color:#28EA53;
}