html, body, *{
    margin:0;
    padding:0;

}
#mypage{
    position:relative;
    width:100%;
    height:100%;
    top:14vh;
    

}
#admin{
    position:absolute;
    right:0;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#adminbtn{
    width:50px;
    background-color: #28EA53;
    color:white;
    border-radius: 30%;
    border:none;
    height: 50px;
}
#userlogo{
    border-radius: 50%;
    position:relative;
    width:180px;
    height:180px;
    margin-bottom: 30px;
}
#username{
    position: relative;
    font-size: 30PX;
    font-weight: 600;
}
#useremail{
    position: relative;
    color: gray;
}
#total-point{
    position: relative;
    top:8vh;
    width:60%;
    height:80vh;
    left:50%;
    transform: translateX(-50%);
}
#total-name{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
#total-named{
    position:absolute;
    width:60%;
    transform: translateX(-50%);
    left:50%;


}
#point-content{
    position:absolute;
    top:80px;
    width:60%;
    height:50vh;
    border:1px solid #D4D2E3;
    border-radius: 15px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#total-points{
    position: absolute;
    top:0%;
    left:0;
    font-size: 30px;
    font-weight: 600;
    margin-left:15px;
    margin-top:10px;
    color:gray;
}
#point-content2{
    font-size: 30px;
    font-weight: 600;
}
#total-points2{
    color:#28EA53;
}
#total-points3{
    color: #D4D2E3;
}