html, body, *{
    margin:0;
    padding:0;

}
#report-content{
    position:relative;
    width:100%;
    height:100%;
    top:104px;
    
}
#report-chart{
    position: absolute;
    width:500px;
    height:400px;
    top:100px;
}
#report-chartback{
    position: relative;
    top:200px;  /* 여기크기 userinfo크기 포함되서 20차이나는듯 */
    left: 14%;
    width: 33vw;
    height:70vh;
    background-color:#28EA53;
    border-radius: 15px;
}
#report-title{
    position: absolute;
    top:90px;
    left:50%;
    transform: translateX(-50%);
}
#report-title1{
    font-family:DM Sans;
    font-weight: 700;
    color:#28EA53;
    font-size: 24px;
}
#report-title2{
    font-family:DM Sans;
    font-weight: 400;
    font-size: 14px;
    color:#9795B5;
    line-height: 30px;
}
#report-chartname{
    position: absolute;
    font-weight: 700;
    color:white;
    left:20px;
    top:30px;
    font-size: 20px;
}
#report-manage{
    position: absolute;
    left:53%;
    top:200px;
    width: 33vw;
    height:70vh;
    border-radius: 15px;
}
#report-manage1{
    position: absolute;
    width:230px;
    height:230px;
    left:0;
    border:1px solid #E5E5E5;
    border-radius:15px;
}
#report-manage2{
    position:absolute;
    width:230px;
    height:230px;
    border:1px solid #E5E5E5;
    left:250px;
    border-radius: 15px;
}
#report-manage3{
    position: absolute;
    width:230px;
    height:230px;
    left:0;
    top:250px;
    border:1px solid #E5E5E5;
    border-radius:15px;
}
#report-manage4{
    position:absolute;
    width:230px;
    height:230px;
    border:1px solid #E5E5E5;
    border-radius: 15px;
    left:250px;
    top:250px;


}
.report-p1{
    font-weight: 700;
    font-size: 16px;
    color:#5D5A88;
    text-align: left;
    margin:10px;
    line-height: 12px;

}
#report-random{
    color:#28EA53;
    position: relative;
    top:60px;
    font-weight: 500;
    font-size: 20px;

}
#report-per{
    width:130px;
    height:130px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:20px;
}