html, body, *{
    margin:0;
    padding:0;

}
#share{
    position:relative;
    width:100%;
    height:100%;
    top:14vh;
    

}
#share-head{
    position:absolute;
    top:3vh;
    left:50%;
    transform: translateX(-50%);
}
#share-font{
    font-family:DM Sans;
    font-weight: 700;
    color:#28EA53;
    font-size: 1.5vw;
}
#share-servefont{
    font-family:DM Sans;
    font-weight: 400;
    font-size: 1vw;
    color:#9795B5;
    line-height: 30px;
}
#share-content{
    position:absolute;
    width:100%;
    top:18vh;
    
    height: 100%;
}
#share-content-user{
    position:absolute;
    left:14%;
    border:1px solid #D4D2E3;
    border-radius: 15px;
    width:15vw;
    height:44vh;
}

#share-content-mypost{
    color:#28EA53;
    position: absolute;
    top:25vh;
    margin-left: 2vw;
}
#share-content-mycomment{
    color:#28EA53;
    position: absolute;
    top:29vh;
    margin-left: 2vw;

}
#share-content-mylike{
    color:#28EA53;
    position: absolute;
    top:33vh;
    margin-left: 2vw;
}
#share-content-show{
    position:relative;
    width:80%;
    height:50vh;
    border:1px solid #D4D2E3;
    border-radius: 15px;  
    left:50%;
    transform: translateX(-50%);
    top:12vh;
}
#share-content-title{
    text-align: left;
    position:absolute;
    width:80%;
    height:7vh;
    left:50%;
    transform: translateX(-50%);
    top:5vh;
    display:flex;
    align-items: center;
}
#share-content-title>*{
   
    color:#28EA53;
    font-size: 18px;
}
#t1{
    width:40%;
    padding-left: 2%;
}
#t2, #t3, #t4, #t5{
    width:15%;
}

#share-show1{  
    text-align: left;
    width: 100%;
    display:flex;
    border-bottom: 1px solid #D4D2E3;
    height:6.13vh;
    font-weight: 400;
    font-size: 18px;
}
#element_id{
    width:40%;
    padding-left: 2%;
    display: flex;
    align-items: center;
}
#element_user, #element_Date, #element_Likes, #element_Comments{
    width:15%;
    display: flex;
    align-items: center;

}



#share-page-btn{
    position: absolute;
    top: 72vh;
    left:50%;
    transform: translateX(-50%);
}
#share-page-btn>button{
    margin:0 5px;
    border:none;
    background-color: #FFFFFF;
}
#share-side{
    top:-2vh;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width:80%;
    

}
#share-side>input{
    height: 5vh;
    width:80%;
    border-radius: 15px;
    background-color: whitesmoke;
    margin-right: 5%;
}
#share-side>input::placeholder{
    padding-left:10px;
}
#dotimg:hover{
    cursor: pointer;
}
#dot{
    height: 5vh;
    position: absolute;
    left:77%;
    margin:4px;
    border:none;
    background: none;

}
#dotimg{
    height: 3vh;
    width:15px;

}

#createpost{
    height: 5vh;
    width:15%;
    border-radius: 15px;
    background-color: #28EA53;
    border:none;
    color:#FFFFFF;
    font-size: 15px;
}
/* post 부분 css 시작 */
#post-content{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    width:52vw;
    height:60vh;
    border:1px solid #D4D2E3;
    border-bottom: none;
    border-radius: 15px;  
}

#post-post1{
    position:absolute;
    top:0;
    left:0;
    width:52vw;
    height:7.5vh;
    border-bottom:1px solid #D4D2E3;
}
#post-post1 >p{
    position:absolute;
    text-align: left;
    margin:10px;
    font-weight: 400;
    font-size: 1.7vw;
    color:#28EA53;
}
#post-post2{
    position:absolute;
    top:7vh;
    left:0;
    width:52vw;
    height:7vh;
    border-bottom:1px solid #D4D2E3;
}
#post-post2 >p{
    position:absolute;
    text-align: left;
    margin:10px;
    font-weight: 400;
    font-size: 1.7vw;
    color:#28EA53;
}
#post-input-title{
    position:absolute;
    left:7%;
    width:40vw;
    height:6vh;
    margin:1%;
    padding-left: 5px;
    border:none;
    font-size: 1.5vw;
}
#diary{
    position:absolute;
    left:92%;
    width:2vw;
    height:6vh;
    margin:1%;
    padding-left: 5px;
    font-size: 1.5vw;
}
.hidden-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width:2vw;
    opacity: 0;
    cursor: pointer;

}
.lock{
    position:relative;
    cursor: pointer;
}
#post-post2 >input:focus {
    outline: none;
}
#post-post3{
    position:absolute;
    top:14vh;
    left:0;
    width:52vw;
    height:60.5vh;
}
.ck.ck-editor .ck.ck-toolbar__items {
    width:52vw;
    height: 5vh;
}
.ck.ck-editor .ck.ck-editor__main {
    width:52vw;
    height:50.5vh;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 50.5vh;
    max-height: 50.5vh;
    
}
#post-submit{
    position:absolute;
    top:72vh;
    left:80%;
    width:4.5vw;
    border-radius: 30px;
    height:7vh;
    border:none;
    background-color: #28EA53;
    color:#FFFFFF;
}
#post-cancel{
    position:absolute;
    top:72vh;
    left:91%;
    width:4.5vw;
    border-radius: 30px;
    height:7vh;
    background-color: #FFFFFF;
    border:1px solid #A6A5AB;
    color:#28EA53;
}

/* shareContent css 시작*/

#share-content-show1{
        position:relative;
        width:60%;
        height:55vh;
        border:1px solid #D4D2E3;
        border-radius: 15px;  
        left:50%;
        transform: translateX(-50%);
}
#posttitle{
    font-size: 2vw;
    margin-top: 1vh;
    position: absolute;
    left: 6%;
    color: #28ea53;

}
#postdate{
    font-size: 1vw;
    position: absolute;
    left: 84%;
    margin-top: 25px;
}
#heartCnt{
    font-size: 1vw;
    position: absolute;
    left: 84%;
    margin-top: 50px;

}
#deleteimg{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: 37px;
}
#delete{
    position:absolute;
    right: -5%;
    top: 36px;
}
.deleteimg2{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    top: 10px;
}
#delete2{
    width:50px;
    position: absolute;
    right:0;
}
#membername{
    position: absolute;
    top: 8vh;
    left: 2%;
}
#content-content{
    width:100%;
    position: absolute;
    top:12vh;
    height: 100%;
}
#content-content1{
    position: absolute;
    margin:15px;

}
#content-title{
    height:14vh;
    border-bottom: 1px solid #D4D2E3;
}
#share-comment{
    position:relative;
    left:30%;
    width:60%;
    left:50%;
    transform: translateX(-50%);
    height:50vh;
    top:3vh;
}
#share-comment1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:33vh;
    border:1px solid #D4D2E3;
    border-radius: 15px;
    overflow-y: scroll;
}
#share-comment>input{
    position:absolute;
    top:35vh;
    left:0;
    width:100%;
    height:10vh;
    border:1px solid #D4D2E3;
    border-radius: 15px;
    
}
#comment-p{
    position: absolute;
    width:100%;
    height:7vh;
    border-bottom: 1px solid #D4D2E3;

}
#comment-p>p{
    position:absolute;
    top:0;
    left:0;
    margin:10px;
    font-weight: 400;
    font-size: 2vw;
}
#share-comment-button{
    position: absolute;
    top:35.5vh;
    width:4vw;
    height:10.2vh;
    right:0;
    border:none;
    background:none;
}
#share-comment-button:hover{
    cursor: pointer;

}
#goimg{
    width:4vw;
    height:9vh; 
}
#comment-p1{
    display:flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top:50px;
    max-height: 200px;
    border-bottom: 1px solid #D4D2E3;
}
#comment-p1>p{
    margin:10px;
    font-weight: 400;
    font-size: 20px;
}

#postlike-label{
    margin-top: 1.5vh;
    position: absolute;
    left: 0;
    width: 3vw;
    font-size: 2vw;
    margin-left: 1%;

}
#faheart{
    position:absolute;
    z-index: 1;
}
#postlike{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width:5vw;
    opacity: 0;
    cursor: pointer;
    z-index:2;
}
.postlike-red{
    color:red;
}
.postlike-white{
    color:rgba(57, 39, 39, 0.292);
}
